.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0 20px;
    width: 100%;
}
.navbar ul li {
    margin-right: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.posts-container {
    background-color: #445662;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between; /* Align posts to the left */
    gap: 20px;
    padding: 20px;
    margin-top: 56px; /* Add margin to avoid overlap with fixed navbar */
}
.post {
    border: 1px solid #b3d7f0;
    border-radius: 5px;
    padding: 15px;
    background-color: #acd5f0;
    max-width: 350px;
    flex: 1 1 calc(33.333% - 40px); /* Adjust the width of the posts */
    display: flex;
    flex-direction: column;
    /* Remove fixed height */
}
.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post-description {
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the description to 3 lines */
    -webkit-box-orient: vertical;
    line-clamp: 3; /* Standard property for compatibility */
}
.post-image {
    display: flex;
    justify-content: flex-start;
    margin-top: auto; /* Adjust the margin-top of the image */
}
.post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px; /* Increased width */
    height: 70px; /* Increased height */
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    font-size: 40px; /* Increased font size */
    cursor: pointer;
    z-index: 1000;
    line-height: 1; /* Reset line-height */
    padding: 0; /* Remove padding */
    font-family: Arial, sans-serif; /* Use a consistent font */
    transform: translateY(-5%); /* Fine-tune vertical alignment */
}